Ejemplos XSD/Pag15_local/miGramatica.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xs:element name="nota">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="para" type="xs:string"></xs:element>
            <xs:element name="de" type="xs:string"></xs:element>
            <xs:element name="titulo" type="xs:string"></xs:element>
            <xs:element name="contenido" type="xs:string"></xs:element>
        </xs:sequence>
        </xs:complexType>
    </xs:element>   
</xs:schema>