EjerciciosXMLS/Ejercicio3/persona.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="persona.xsd"
           xmlns:per="persona.xsd"
           elementFormDefault="qualified">

  <!-- Definición del elemento 'persona' -->
  <xs:element name="persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="dni" type="xs:string"/>
        <xs:element name="comentario" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema> 