EjerciciosXMLS/Ejercicio3/profesores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="profesores.xsd"
           xmlns:doc="profesores.xsd"
           elementFormDefault="qualified">

  <!-- Definición del elemento 'grupo' -->
  <xs:element name="grupo" type="xs:string"/>

  <!-- Definición del elemento 'asignatura' -->
  <xs:element name="asignatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="horas_semanales" type="xs:integer"/>
        <xs:element name="profesor" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
